body{
  background-image: url("polkadot2.png");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center;*/
  /*background-color: ghostwhite;*/
}

p {
  color: grey;
  font-size: 1em;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 20px;
  margin-top: 10px;
  font-family: Georgia, serif;

  /*text-align: center;*/
}

h1{
  color: royalblue;
  font-size: 4em;
  font-family: Georgia, serif;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top: 10px
}

h2{
  font-size: 1.5em;
  font-weight:bold;
  /*margin-top: 40px;*/
  margin-left: 120px;
  margin-bottom: 0px;
  font-family: Georgia, serif;
}

h3{
  margin-top: 10px;
  margin-left: 120px;
  margin-right: 100px;
  color: grey;
}


/*img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}*/

#cooper1{
  margin-left: 140px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom:10px;
  text-align: center;
}

/*#images{
  width: 25%;
  height: 37%
  float: left;
  padding: 10px;
  text-align: center center;
}
*/

#links{
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 120px
}
